$busy-mode: green;
$error-mode: red;

html, body, main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  list-style-position: inside;
}

nav ul {
  list-style-type: none;
}

.coffee-machine {
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

svg {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.button {
  cursor: pointer;

  &:active {
    transition: all 100ms ease-in-out;
    fill: darkgrey;
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1.2);
    box-shadow: 0 50px rgba(17, 0, 0, 0);
  }
}

.button_is-switch-on {
  transform: scale(1.5);
  transform-origin: center;
  transform-box: fill-box;

  &[aria-checked='true'] {
    fill: $busy-mode;
  }

  &[aria-checked='true'] ~ .container {
    cursor: pointer;
  }
}

@each $mode, $color in (busy-mode, $busy-mode),
  (error-mode, $error-mode) {
  .#{$mode} {
    animation: flicker-#{$color} 1s infinite;
  }
}

@mixin flickerMode($mode) {
  @keyframes flicker-#{$mode} {
    0% {
      fill: $mode;
    }

    50% {
      fill: #aab2bd;
    }

    100% {
      fill: $mode;
    }
  }
}

@include flickerMode($busy-mode);
@include flickerMode($error-mode);

.pouring-mode {
  animation-name: increaseCoffee;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes increaseCoffee {
  $coffee: 120%;

  @for $i from 0% through 100% {
    #{$i}% {
      clip-path: polygon(0 $coffee, 100% $coffee, 100% 100%, 0 100%);
      $coffee: $coffee - 1;
    }
  }
}
