html, body, main {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

svg {
  max-width: 400px;
  margin: auto;
}

.button {
  cursor: pointer;

  &:active {
    transition: all 100ms ease-in-out;
    fill: darkgrey;
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(.95);
    box-shadow: 0 50px rgba(17, 0, 0, 0);
  }
}
