$busy-mode: green;
$error-mode: red;

html, body, main {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-height: 100%;
}

.hints-mode {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: .85;
    background: #262626;
  }

  & .coffee-machine-design {
    z-index: 1;
    height: 100%;
    max-width: 70vh;
    position: absolute;
    top: 0;
  }

}

use {
  position: relative;
  z-index: 1;
}
//.volume {
//  position: absolute;
//  left: 20px;
//  top: 20px;
//
//  &__icon {
//    vertical-align: middle;
//    margin-right: 6px;
//  }
//
//  &__input-range {
//    vertical-align: middle;
//  }
//}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.information {
  list-style-position: inside;
}

nav ul {
  list-style-type: none;
}

.coffee-machine {
  display: flex;
  justify-content: center;

  @media (max-width: 680px) {
    flex-wrap: wrap;
  }

  &-design {
    max-width: 400px;
    width: 100%;
  }
}

body:not(.hints-mode) {
  .coffee-machine-design {
    max-height: 400px;
  }
}

.container-inner {
  fill: oldlace;
}

.selected {
  opacity: 1;
  stroke: red;
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 1;
}

.button {
  cursor: pointer;

  &:active {
    transition: all 100ms ease-in-out;
    fill: darkgrey;
    transform-box: fill-box;
    transform-origin: center;
    box-shadow: 0 50px rgba(17, 0, 0, 0);
  }
}

.button_is-switch-on {
  transform: scale(1.5);
  transform-origin: center;
  transform-box: fill-box;

  &[aria-checked='true'] {
    fill: $busy-mode;
  }

  &[aria-checked='true'] ~ .container {
    cursor: pointer;
  }
}

@each $mode, $color in (busy-mode, $busy-mode),
  (error-mode, $error-mode) {
  .#{$mode} {
    animation: flicker-#{$color} 1s infinite;
  }
}

@mixin flickerMode($mode) {
  @keyframes flicker-#{$mode} {
    0% {
      fill: $mode;
    }

    50% {
      fill: #aab2bd;
    }

    100% {
      fill: $mode;
    }
  }
}

@include flickerMode($busy-mode);
@include flickerMode($error-mode);

.pouring-mode {
  animation-name: increaseCoffee;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes increaseCoffee {
  $coffee: 120%;

  @for $i from 0% through 100% {
    #{$i}% {
      clip-path: polygon(0 $coffee, 100% $coffee, 100% 100%, 0 100%);
      $coffee: $coffee - 1;
    }
  }
}
